In [1]:
import pandas as pd, requests, json

In [2]:
file = pd.read_csv("data_proj2.csv")
file.head()

,year,stateabbr,statename,cityname,obesitypercentage,Population2010,latitude,longitude
0,2014,ID,Idaho,Boise City,23.8,5604,43.59,-116.180835
1,2014,ID,Idaho,Boise City,28.3,5382,43.60,-116.243609
2,2014,ID,Idaho,Boise City,27.6,979,43.61,-116.336938
3,2014,ID,Idaho,Boise City,29.0,5746,43.61,-116.259400
4,2014,ID,Idaho,Boise City,27.2,6328,43.67,-116.264532

In [3]:
file = file.round({'longitude': 2})
file

,year,stateabbr,statename,cityname,obesitypercentage,Population2010,latitude,longitude
0,2014,ID,Idaho,Boise City,23.8,5604,43.59,-116.18
1,2014,ID,Idaho,Boise City,28.3,5382,43.60,-116.24
2,2014,ID,Idaho,Boise City,27.6,979,43.61,-116.34
3,2014,ID,Idaho,Boise City,29.0,5746,43.61,-116.26
4,2014,ID,Idaho,Boise City,27.2,6328,43.67,-116.26
...,...,...,...,...,...,...,...,...
25462,2014,SC,South Carolin,Charleston,43.3,953,32.82,-79.96
25463,2014,CA,California,Oxnard,22.2,5455,34.23,-119.21
25464,2014,TX,Texas,Garland,32.4,3830,32.86,-96.55
25465,2014,MA,Massachusetts,Boston,21.2,5460,42.34,-71.07
25466,2014,TN,Tennessee,Memphis,39.5,3490,35.04,-90.02

In [24]:
file[['latitude', 'longitude']] = file[['latitude', 'longitude']].astype(object)

In [4]:
file['combined'] = file.apply(lambda x: list([x['latitude'],
                                    
                                        
                                        x['longitude']]),axis=1)  
file

,year,stateabbr,statename,cityname,obesitypercentage,Population2010,latitude,longitude,combined
0,2014,ID,Idaho,Boise City,23.8,5604,43.59,-116.18,"[43.59, -116.18]"
1,2014,ID,Idaho,Boise City,28.3,5382,43.60,-116.24,"[43.6, -116.24]"
2,2014,ID,Idaho,Boise City,27.6,979,43.61,-116.34,"[43.61, -116.34]"
3,2014,ID,Idaho,Boise City,29.0,5746,43.61,-116.26,"[43.61, -116.26]"
4,2014,ID,Idaho,Boise City,27.2,6328,43.67,-116.26,"[43.67, -116.26]"
...,...,...,...,...,...,...,...,...,...
25462,2014,SC,South Carolin,Charleston,43.3,953,32.82,-79.96,"[32.82, -79.96]"
25463,2014,CA,California,Oxnard,22.2,5455,34.23,-119.21,"[34.23, -119.21]"
25464,2014,TX,Texas,Garland,32.4,3830,32.86,-96.55,"[32.86, -96.55]"
25465,2014,MA,Massachusetts,Boston,21.2,5460,42.34,-71.07,"[42.34, -71.07]"
25466,2014,TN,Tennessee,Memphis,39.5,3490,35.04,-90.02,"[35.04, -90.02]"

In [5]:
file['combined'] = file['combined'].astype(object)

In [6]:
file.to_json(r'C:\Users\momad\Desktop\pro2\data3.json',orient='records')

In [3]:
file.to_dict(r'C:\Users\momad\Desktop\pro2\data.json',orient='records')

TypeError: to_dict() got multiple values for argument 'orient'

In [16]:
## convert dataframe to json

my = with open('temp.json', 'w') as f:
    f.write(file.to_json(orient='records', lines=True))
my

SyntaxError: invalid syntax (<ipython-input-16-1879a9da8dd2>, line 3)

In [7]:
## reference for converting pandas dataframe to geogson:
## https://geoffboeing.com/2015/10/exporting-python-data-geojson/

In [12]:
def df_to_geojson(file, properties, lat='latitude', lon='longitude'):
    """
    Turn a dataframe containing point data into a geojson formatted python dictionary
    
    df : the dataframe to convert to geojson
    properties : a list of columns in the dataframe to turn into geojson feature properties
    lat : the name of the column in the dataframe that contains latitude data
    lon : the name of the column in the dataframe that contains longitude data
    """
    
    # create a new python dict to contain our geojson data, using geojson format
    geojson = {'type':'FeatureCollection', 'features':[]}

    # loop through each row in the dataframe and convert each row to geojson format
    for _, row in file.iterrows():
        # create a feature template to fill in
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Polygon',
                               'coordinates':[]}}

        # fill in the coordinates
        feature['geometry']['coordinates'] = [row[lon],row[lat]]

        # for each column, get the value and add it as a new feature property
        for prop in properties:
            feature['properties'][prop] = row[prop]
        
        # add this feature (aka, converted dataframe row) to the list of features inside our dict
        geojson['features'].append(feature)
    
    return geojson

In [13]:
useful_columns = ['year', 'stateabbr', 'statename', 'obesitypercentage', 'Population2010']
geojson_dict = df_to_geojson(file, properties=useful_columns)
geojson_str = json.dumps(geojson_dict, indent=2)

In [14]:
# save the geojson result to a file
output_filename = 'dataset.geojson'
with open(output_filename, 'w') as output_file:
    output_file.write('var dataset = {};'.format(geojson_str))
    
# how many features did we save to the geojson file?
print('{} geotagged features saved to file'.format(len(geojson_dict['features'])))

25467 geotagged features saved to file

In [ ]:
## link to avi dashboard:
#https://ncov2019.live/data